In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '~/ML-AZ/census.csv'
df = pd.read_csv(path)

df.describe()

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [3]:
x_census = df.iloc[:, 0:14].values
y_census = df.iloc[:, 14].values
x_census, y_census

(array([[39, ' State-gov', 77516, ..., 0, 40, ' United-States'],
        [50, ' Self-emp-not-inc', 83311, ..., 0, 13, ' United-States'],
        [38, ' Private', 215646, ..., 0, 40, ' United-States'],
        ...,
        [58, ' Private', 151910, ..., 0, 40, ' United-States'],
        [22, ' Private', 201490, ..., 0, 20, ' United-States'],
        [52, ' Self-emp-inc', 287927, ..., 0, 40, ' United-States']],
       dtype=object),
 array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
       dtype=object))

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

#OneHotEncoder cria uma coluna dummy para cada atributo nominal único, de
#modo a não criar uma ordem ao atribuir labels do tipo 0, 1, 3, 4...
#ColumnTransformer transforma seletivamente as colunas de um array multi-atributos
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')
x_census = onehotencorder.fit_transform(x_census).toarray()
print(x_census.shape)

labelencoder = LabelEncoder()
y_census = labelencoder.fit_transform(y_census)

(32561, 108)

In [5]:
from sklearn.model_selection import train_test_split
x_train_census, x_test_census, y_train_census, y_test_census = train_test_split(x_census,
                                                                                y_census, 
                                                                                test_size = 0.15, 
                                                                                random_state = 0)

In [7]:
from sklearn.naive_bayes import GaussianNB
classificador = GaussianNB()

In [8]:
classificador.fit(x_train_census, y_train_census)

GaussianNB()

In [9]:
resultado_census = classificador.predict(x_test_census)
resultado_census

array([0, 0, 0, ..., 0, 0, 0])

In [11]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [12]:
precisao_census = accuracy_score(y_test_census, resultado_census)
precisao_census

0.7950870010235415