In [1]:
import pandas as pd
import numpy as np

In [3]:
path = '~/ML-AZ/credit_data.csv'
df = pd.read_csv(path)

df.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [4]:
df.loc[df['age'] < 0]
#df.drop(df[df.age < 0].index, inplace=True) Deleta as linhas com idade invÃ¡lida

df['age'][df.age > 0].mean()
df.loc[df.age < 0, 'age'] = df['age'][df.age > 0].mean()
df.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.927700   4444.369695     0.141500
std     577.494589  14326.327119    13.261825   3045.410024     0.348624
min       1.000000  20014.489470    18.055189      1.377630     0.000000
25%     500.750000  32796.459717    29.072097   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [5]:
df.loc[pd.isnull(df['age'])]

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

In [6]:
X_credit = df.iloc[:, 1:4].values
Y_credit = df.iloc[:, 4].values

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
#mean imputation df.fillna(df.mean())
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X_credit[:, 0:3]) #Aprende os parametros dos dados de treino
X_credit[:, 0:3] = imputer.transform(X_credit[:, 0:3]) #Usa estes parÃ¢metros para transformar os dados 
X_credit

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [9]:
from sklearn.model_selection import train_test_split
X_train_credit, X_test_credit, Y_train_credit, Y_test_credit = train_test_split(X_credit, 
                                                                                Y_credit, 
                                                                                test_size = 0.25, 
                                                                                random_state = 0)

In [15]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [10]:
from sklearn.tree import DecisionTreeClassifier, export

C:\Users\Raffael\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.tree.export module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.tree. Anything that cannot be imported from sklearn.tree is now part of the private API.
  warnings.warn(message, FutureWarning)

In [11]:
arvoreCredito = DecisionTreeClassifier(criterion='entropy', random_state=0)

In [12]:
arvoreCredito.fit(X_train_credit, Y_train_credit)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [13]:
resultado_arvore_credit = arvoreCredito.predict(X_test_credit)

In [16]:
precisao_arvore_credit = accuracy_score(Y_test_credit, resultado_arvore_credit)
precisao_arvore_credit

0.982