In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '~/ML-AZ/credit_data.csv'
df = pd.read_csv(path)

df.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [3]:
df.loc[df['age'] < 0]
# df.drop(df[df.age < 0].index, inplace=True) Deleta as linhas com idade inválida

df['age'][df.age > 0].mean()
df.loc[df.age < 0, 'age'] = df['age'][df.age > 0].mean()

In [4]:
df.loc[pd.isnull(df['age'])]

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

In [5]:
X_credit = df.iloc[:, 1:4].values
Y_credit = df.iloc[:, 4].values

In [6]:
from sklearn.impute import SimpleImputer

# mean imputation df.fillna(df.mean())
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Aprende os parametros dos dados de treino
imputer = imputer.fit(X_credit[:, 0:3])

# Usa estes parâmetros para transformar os dados
X_credit[:, 0:3] = imputer.transform(X_credit[:, 0:3])
X_credit

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(X_credit)

In [12]:
from sklearn.model_selection import train_test_split
X_train_credit, X_test_credit, Y_train_credit, Y_test_credit = train_test_split(
                                                                    X_credit,
                                                                    Y_credit,
                                                                    test_size=0.25,
                                                                    random_state=0)

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
clf_rf = RandomForestClassifier(n_estimators=40, criterion='entropy',
                               random_state=0)

In [22]:
clf_rf.fit(X_train_credit, Y_train_credit)

RandomForestClassifier(criterion='entropy', n_estimators=40, random_state=0)

In [23]:
resultado = clf_rf.predict(X_test_credit)

In [24]:
from sklearn.metrics import confusion_matrix, accuracy_score
precisao = accuracy_score(Y_test_credit, resultado)
matriz = confusion_matrix(Y_test_credit, resultado)

In [25]:
print(precisao)
print(matriz)

0.984
[[433   3]
 [  5  59]]